In [11]:
import pandas as pd

In [94]:
# mat = [[3,3,1,1],[2,2,1,2],[1,1,1,2]]
mat = [[11,25,66,1,69,7],[23,55,17,45,15,52],[75,31,36,44,58,8],[22,27,33,25,68,4],[84,28,14,11,5,50]]
mat

[[11, 25, 66, 1, 69, 7],
 [23, 55, 17, 45, 15, 52],
 [75, 31, 36, 44, 58, 8],
 [22, 27, 33, 25, 68, 4],
 [84, 28, 14, 11, 5, 50]]

In [95]:
mat_df = pd.DataFrame(mat)
mat_df

    0   1   2   3   4   5
0  11  25  66   1  69   7
1  23  55  17  45  15  52
2  75  31  36  44  58   8
3  22  27  33  25  68   4
4  84  28  14  11   5  50

In [79]:
# Function to get coordinates of diagonals
def get_diagonal_coord(df):
    coords = []
    num_rows = len(df.index)
    num_cols = len(df.columns)
    for j in range(num_cols):
        coords.append(list(zip(df.index, df.columns[j:])))
    for i in range(1, num_rows):
        coords.append(list(zip(df.index[i:], df.columns)))
    return coords

In [49]:
# Function to sort diagonals
def sort_diagonal(df, coords):
    new_list = []
    for coord in coords:
        new_list.append(df.iloc[coord])
    return sorted(new_list)

In [96]:
# Edit the matrix
for diagonal_coords in get_diagonal_coord(mat_df):
    sorted_diagonal = sort_diagonal(mat_df, diagonal_coords)
#     print(diagonal_coords, sorted_diagonal)
    for coord, new_val in zip(diagonal_coords, sorted_diagonal):
#         print(coord, new_val)
        mat_df.iat[coord] = new_val

In [97]:
mat_df

    0   1   2   3   4   5
0   5  17   4   1  52   7
1  11  11  25  45   8  69
2  14  23  25  44  58  15
3  22  27  31  36  50  66
4  84  28  75  33  55  68

In [98]:
mat_df.values.tolist()

[[5, 17, 4, 1, 52, 7],
 [11, 11, 25, 45, 8, 69],
 [14, 23, 25, 44, 58, 15],
 [22, 27, 31, 36, 50, 66],
 [84, 28, 75, 33, 55, 68]]